div#Home {
  position: relative;
  margin: 3em;
}
.homecontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 1em;
  padding: 2% 20%;
  color: white;
}

.hright img {
  border-radius: 45px;
}

.contento h1 {
  font-size: 60px;
  margin-bottom: 0.1em;
}

.contento p {
  margin-left: 5%;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.i1,
.i3 {
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: center;
}
.i1::after,
.i3::after,
.contento::after {
  content: "";
}
.i1::after {
  width: 4rem;
  height: 4rem;
  display: block;
  background: white;
  transform: translate(-17rem, 0);
  border-radius: 100%;
}
.i3::after {
  display: block;
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 100%;
  transform: translate(-46rem, -5rem);
}
.contento::after {
  width: 20rem;
  height: 20rem;
  display: block;
  background: #545455;
  border-radius: 100%;
  top: -32%;
  position: absolute;
  left: -8%;
  z-index: -1;
}
.contento {
  position: relative;
}
.i2 {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  transform: translate(40rem, -8rem);
}
.hright {
  position: relative;
}

/* about */
.lay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 8% 20%;
}
.jobcards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2em 0;
  column-gap: 2em;
}

.cd img {
  width: 150px;
}

.texts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  margin: 2em 0;
}

.texts p {
  width: 65%;
  font-size: 20px;
  font-weight: 500;
  color: #d6d3cb;
}

.texts h1 {
  font-size: 45px;
}

.cd {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 20rem;
}

.cd p {
  color: #a8a5a5;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.lay a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

button.projects {
  font-size: 20px;
  font-weight: 600;
  padding: 5% 20%;
  border-radius: 45rem;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  background-color: white;
  transition: all ease-in-out 0.2s;
  border: 3px solid white;
}
button.projects:hover {
  background-color: rgb(70, 69, 69);
  color: white;
  border: 3px solid white;
}
.texts,
.lay,
.lay a {
  position: relative;
}
.lay::after {
  width: 23rem;
  content: "";
  height: 43rem;
  background: white;
  z-index: -1;
  position: absolute;
  right: 0;
  border-radius: 54rem 0 0 54rem;
}
.texts::after {
  content: "";
  width: 85%;
  height: 25rem;
  background: linear-gradient(47deg, #8a82828e, #b7b7bd14);
  border-radius: 5rem 50rem 19rem 50rem;
  position: absolute;
  z-index: -1;
  transform: translate(-20%, 0%);
}
.lay a::after {
  content: "";
  width: 4rem;
  height: 4rem;
  background: white;
  display: block;
  position: absolute;
  border-radius: 100%;
  transform: translate(-40rem, -13rem);
}
