.bglay {
  color: white;
  position: relative;
  overflow: hidden;
  padding: 2% 0;
}

.bg {
  background: #e4e3e3;
  rotate: 25deg;
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 252%;
  left: -148%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  row-gap: 2em;
}

.c1 h1 {
  font-size: 50px;
}

.c2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10%;
  justify-content: center;
}

.cc1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cc2 {
  margin-left: 2%;
  font-size: 20px;
  font-weight: 500;
}

.le {
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5em;
  width: 45%;
}

.cc1 h1 {
  font-size: 45px;
}

.cc1 h1 span {
  font-family: "Suez one", sans-serif;
  font-size: 60px;
  margin: 1px;
}

.ccc1 {
  display: flex;
  row-gap: 1em;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ccc1 p span a {
  color: dimgrey;
  font-weight: 600;
  text-decoration: none;
}

form#form {
  min-width: 35rem;
  padding: 10% 5%;
  display: flex;
  align-items: center;
  background: #424242;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  row-gap: 2em;
}

.r1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.classform {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.25em;
}

input,
textarea {
  font-size: 20px;
  padding: 2% 0%;
  min-width: 25rem;
  background: none;
  stroke: none;
  border: none;
  border-bottom: #c2c1c1 3px solid;
  font-weight: 600;
  resize: none;
  color: white;
}

button.submit {
  font-size: 20px;
  font-weight: 600;
  padding: 1% 5%;
  border-radius: 45rem;
  color: black;
  cursor: pointer;
  background-color: white;
  transition: all ease-in-out 0.2s;
  border: 3px solid white;
}
button.submit:hover {
  background-color: rgb(70, 69, 69);
  color: white;
  border: 3px solid white;
}
textarea.Message {
  height: 7.5rem;
}
input:focus,
input:focus-visible,
:focus-within {
  color: white;
}
.c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-top: 1em;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  font-size: 20px;
  padding: 1% 4%;
  background: #cbcbcb;
  border-radius: 40px;
  margin-top: 0.5em;
}

.socials a {
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 5% 2%;
  row-gap: 3em;
}

/* Navbar */
.gola1 {
  width: 25em;
  height: 13em;
  background: white;
  border-radius: 0em 0 45em 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
div#navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: black;
  padding: 2% 9%;
  overflow-x: clip;
}

.navleft h1 {
  font-size: 40px;
}

.navleft h1 span {
  font-family: "Suez One";
  font-size: 65px;
  margin: 1px;
}
.gola2 {
  width: 60rem;
  height: 60rem;
  background: white;
  border-radius: 30rem;
  rotate: 81deg;
  position: absolute;
  z-index: -1;
  right: -8%;
  top: -227%;
}

.navright {
  position: relative;
  list-style: none;
}

.navright ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 1.25em;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: #424242;
  text-align: center;
}
.navright ul li {
  border: 3px solid black;
  padding: 1% 4%;
  color: black;
  background-color: white;
  border-radius: 5rem;
  transition: all ease-in-out 0.2s;
}
.navright ul li:hover {
  border: 3px solid black;
  color: white;
  background-color: black;
  cursor: pointer;
  text-align: center;
}
